*~
custom.el
elpa/
/.cask/
/.dap-breakpoints
/.lsp-session-v1
/.org-id-locations
/alpha.txt
/alphaweighted.txt
/bookmarks
/*.el
/eaf/
/eclipse.jdt.ls/
/*.SAVE
/elfeed.score
/elfeed.stats
/eln-cache/
/eshell/
/mastodon.plstore
/multisession/
/network-security.data
/persist/
/projects
/recentf
/request/
/site-lisp/
/tramp
/transient/
/tree-sitter/
/url/
/workspace/
